* {
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", serif;
}

body {
  background-color: #f7f7f7;
  color: #343a40;
}

.App {
  background-color: #fff;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 8px #dadce0;
}


/* 功能区
   ----------------------------------*/
.features {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 16px 24px;
  border-bottom: 1px dashed #343a40;
}


/* 简历
   ----------------------------------*/
.resume {
  padding: 64px 40px;
}

.resume h2 {
  border-bottom: 1px solid currentColor;
}

#experiences,
#projects {
  margin-bottom: 28px;
}

.details {
  margin-left: 12px;
}

.details li::before {
  content: "•";
  display: block;
  position: absolute;
  margin-left: -12px;
}

/* 联系信息 */
#contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-info address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#name {
  font-size: 32px;
  font-weight: bold;
  display: block;
}

#headcut {
  height: 145px;
}

.nobody {
  padding: 0 4px;
  border-left: 2px double #1971c2;
}

/* 教育经历 */
.education {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  gap: 8px;
  margin: 16px 0;
}

.education h3,
.education p {
  margin: 0;
}

/* 项目经历 */
.project {
  margin: 16px 0;
}

.project h3 {
  margin: 12px 0;
}

/* 脚注
   ----------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px dashed #343a40;
}

footer p {
  font-size: 14px;
  margin: 4px 0;
}


/* 组件
   ----------------------------------*/
button {
  font-family: inherit;
  color: inherit;
  background-color: #f7f7f7;
  padding: 4px 8px;
  border: 1px solid #343a40;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;
}

button[disabled] {
  cursor: not-allowed;
}

a:link,
a:visited {
  color: #1971c2;
}

a:hover,
a:active {
  color: #343a40;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 0;
  margin: 8px 0;
  list-style: none;
}

li,
p {
  line-height: 1.5;
}

.to-start {
  justify-items: start;
  text-align: start;
}

.to-end {
  justify-items: end;
  text-align: end;
}